In [ ]:
import pandas as pd

# Sample Data
data = {
    'Customer_ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Full_Name': ['John Doe', 'Jane Smith', 'Alice Brown', 'Bob Johnson', 'Carol Lee', 
                  'David Clark', 'Eva White', 'Frank Green', 'Grace Adams', 'Hannah Scott'],
    'Date_of_Birth': ['1990-01-15', '1985-07-22', '1987-03-10', '1980-11-30', '1992-06-17', 
                      '1995-05-25', '1989-12-05', '1983-09-16', '1991-08-14', '1984-04-29'],
    'SSN/ID': ['123-45-6789', '987-65-4321', '111-22-3333', '555-66-7777', '444-55-6666',
               '888-99-0000', '222-33-4444', '999-88-7777', '333-44-5555', '666-77-8888'],
    'Current_Address': ['123 Elm St', '456 Oak Ave', '789 Pine Rd', '101 Maple St', '202 Birch Ln',
                        '303 Cedar Blvd', '404 Willow Dr', '505 Redwood St', '606 Sequoia Ct', '707 Fir Pl'],
    'Employment_Status': ['Employed', 'Employed', 'Self-Employed', 'Employed', 'Employed',
                          'Self-Employed', 'Employed', 'Employed', 'Self-Employed', 'Employed'],
    'Annual_Income': [55000, 75000, 120000, 48000, 65000, 95000, 58000, 72000, 110000, 60000],
    'Credit_Score': [720, 650, 700, 580, 750, 650, 680, 710, 760, 690],
    'Credit_Utilization': [0.30, 0.45, 0.25, 0.60, 0.10, 0.50, 0.35, 0.40, 0.20, 0.55],
    'Current_Balance_Over_Credit_Limit': [1500, 3000, 2000, 5000, 1000, 4000, 2200, 1800, 800, 3500],
    'Number_of_Credit_Accounts': [4, 5, 3, 7, 6, 4, 5, 4, 6, 5],
    'Recent_Hard_Inquiries': [2, 1, 3, 5, 0, 2, 1, 3, 4, 2],
    'Past_Due_Accounts': [0, 1, 0, 3, 0, 0, 0, 1, 0, 2],
    'Delinquent_Accounts': [0, 1, 0, 2, 0, 1, 0, 1, 0, 1],
    'Account_Chargeoffs': [0, 0, 0, 1, 0, 0, 0, 0, 0, 1],
    'Bankruptcies': [0, 1, 0, 0, 0, 0, 0, 1, 0, 0],
    'Foreclosures': [0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
    'Length_of_Credit_History': [6, 5, 8, 3, 10, 7, 4, 12, 6, 9],
    'Open_Mortgages': [1, 0, 1, 1, 0, 1, 0, 1, 0, 1],
    'Open_Auto_Loans': [0, 1, 0, 1, 1, 0, 0, 1, 0, 0],
    'Open_Personal_Loans': [1, 0, 1, 0, 1, 1, 1, 0, 1, 0],
    'Credit_Cards_Open': [2, 3, 1, 3, 2, 2, 2, 2, 3, 2],
    'Recent_Loan_Approvals': [1, 1, 0, 0, 1, 1, 0, 1, 1, 0],
    'Total_Outstanding_Debt': [20000, 35000, 18000, 45000, 15000, 32000, 22000, 25000, 16000, 38000],
    'Total_Assets': [100000, 150000, 120000, 200000, 95000, 180000, 110000, 160000, 125000, 140000],
    'Debt_to_Income_Ratio': [0.36, 0.47, 0.15, 0.94, 0.23, 0.34, 0.38, 0.35, 0.15, 0.63]
}

# Create DataFrame
df = pd.DataFrame(data)

# Display sample DataFrame
df.head(10)